<% include ./common/page-header.ejs %>

<div class="row">
    <button class="md-icon-button a" data-animating="false">
        <span class="content"><i class="icon"></i></span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
    <button class="md-icon-button _primary " data-animating="false">
        <span class="content"></span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
    <button class="md-icon-button _disabled " data-animating="false">
        <span class="content"></span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
    <button class="md-icon-button _warn " data-animating="false">
        <span class="content"></span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
</div>
<div class="row">
    <button class="md-button" data-animating="false">
        <span class="content">button</span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
    <button class="md-button _primary" data-animating="false">
        <span class="content">primary</span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
    <button class="md-button _disabled" data-animating="false">
        <span class="content">disabled</span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
    <button class="md-button _warn" data-animating="false">
        <span class="content">warn</span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
</div>
<div class="row">
    <button class="md-button _round" data-animating="false">
        <span class="content"><i class="icon"></i></span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
    <button class="md-button _round _primary" data-animating="false">
        <span class="content"></span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
    <button class="md-button _round _disabled" data-animating="false">
        <span class="content"></span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
    <button class="md-button _round _warn" data-animating="false">
        <span class="content"></span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
</div>
<div class="row">
    <button class="md-button _round _small" data-animating="false">
        <span class="content"></span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
    <button class="md-button _round _primary _small" data-animating="false">
        <span class="content"></span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
    <button class="md-button _round _disabled _small" data-animating="false">
        <span class="content"></span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
    <button class="md-button _round _warn _small" data-animating="false">
        <span class="content"></span>
        <div class="ripple-container"><span class="ripple"></span></div>
    </button>
</div>

<% include ./common/page-footer.ejs %>
