<% include ./common/header.ejs %>

<div class="resume">
    <div class="info">
        <div class="name">张恩铭</div>
        <div class="subtitle">
            <div class="item"><a target="_blank" href="mailto:znm92@icloud.com">znm92@icloud.com</a></div>
            <div class="item">13426105824</div>
            <div class="item"><a target="_blank" href="https://github.com/youknowznm">https://github.com/youknowznm</a></div>
        </div>
    </div>

    <div class="block">
        <div class="title">
            <h3 class="anchor">教育经历</h3>
        </div>
        <div class="content">
            <div class="item">
                <div class="title i">首都师范大学／本科／英语语言文学<div class="right">2010 - 2014</div></div>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="title">
            <h3 class="anchor">个人技能</h3>
        </div>
        <div class="content">
            <div class="item">
                <div class="title">前端：</div>
                <ul>
                    <li>熟练编写语义化的 HTML 和 CSS / SCSS</li>
                    <li>能还原较复杂的页面布局，完成常见交互效果，进行适配于不同终端的响应式开发</li>
                    <li>熟悉原生 JavaScript，熟悉 ES6 的常用特性</li>
                    <li>熟练使用 jQuery 和 Bootstrap 库</li>
                    <li>熟练使用 Vue.js 框架</li>
                    <li>熟悉 Gulp 和前端自动化</li>
                    <li>熟悉 Webpack 配置和模块化开发</li>
                </ul>
                <div class="title">后端：</div>
                <ul>
                    <li>熟悉 Node.js 和 Express 框架</li>
                    <li>能通过 Mongoose ODM 进行 MongoDB 的常用操作</li>
                </ul>
                <div class="title">其它：</div>
                <ul>
                    <li>熟悉 Git 的常用操作</li>
                    <li>熟悉 macOS 下的开发</li>
                    <li>英语专业八级，听说读写良好</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="title">
            <h3 class="anchor">工作经历</h3>
        </div>
        <div class="content">
            <div class="item">
                <div class="title i">前端工程师／<a target="_blank" href="http://m-dev.gomeplus.in/">国美互联网</a><div class="right">2016 - 2017</div></div>
                <ul>
                    <li>创新型社交电商网站 <a target="_blank" href="https://www.gomeplus.com">Gomeplus</a> （因运营问题已与<a target="_blank" href="https://www.gome.com.cn">国美在线</a>合并）</li>
                    <ul>
                        <li>主要负责该项目 PC 站的维护和迭代</li>
                        <li>使用 Gulp + SCSS 编写样式以提高开发效率</li>
                        <li>使用 jQuery 库，通过 Webpack + ES6 实现模块化</li>
                    </ul>
                    <li>面向印度等海外市场的<a target="_blank" href="http://m-dev.gomeplus.in">电商应用</a>（因运营问题已停止服务）</li>
                    <ul>
                        <li>主要负责该项目手机站及原生应用内嵌页的开发和维护</li>
                        <li>使用 Gulp + SCSS 编写样式以提高开发效率</li>
                        <li>使用公司的打包工具 lithe.js 实现模块化</li>
                        <li>使用 Vue.js 框架和 Zepto 库实现交互逻辑</li>
                        <li>同时维护静态文件和 Express 中间层，前后端完全分离</li>
                    </ul>
                    <li>创新项目<a target="_blank" href="https://www.gomeplus.com">顺路</a></li>
                    <ul>
                        <li>自己负责该微信小程序项目的开发</li>
                    </ul>
                </ul>
            </div>
            <div class="item">
                <div class="title i">前端工程师／留彼工坊<div class="right">2015 - 2016</div></div>
                <ul>
                    <li><a target="_blank" href="https://www.livety.com">留彼工坊</a>是一个面向英国留学生群体的短租服务应用</li>
                    <ul>
                        <li>主要负责房源搜索结果、个人档案、订购流程等页面的样式和逻辑的实现</li>
                        <li>在不同尺寸和设备的浏览器内精确还原设计图的视觉和交互效果</li>
                        <li>对部分旧脚本进行了模块化处理，对站点的大部分旧样式进行了重构，便于团队后续的开发和维护</li>
                        <li>使用 jQuery + Bootstrap 编写前端，同时维护部分后端的 PyJade 模板</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="title">
            <h3 class="anchor">开源项目</h3>
        </div>
        <div class="content">
            <div class="item">
                <div class="title i">Rhaego<div class="right"><a target="_blank" href="https://github.com/youknowznm/rhaego">https://github.com/youknowznm/rhaego</a></div></div>
                <ul>
                    <li>Material Design 风格的 Node.js 博客系统</li>
                    <li>未使用任何非原创的样式库、登录方案或评论组件</li>
                    <li>基于 Express 框架和 <a target="_blank" href="https://github.com/youknowznm/jQueryMaterial.js">jQueryMaterial.js</a> 组件库（我的另一个项目）</li>
                </ul>
            </div>
            <div class="item">
                <div class="title i">jqueryMaterial.js<div class="right"><a target="_blank" href="https://github.com/youknowznm/jqueryMaterial.js">https://github.com/youknowznm/jqueryMaterial.js</a></div></div>
                <ul>
                    <li>Material Design 风格的 jQuery 组件库，适用于桌面端和移动端的快速建站</li>
                    <li>交互行为和样式参考了若干 Google 的设计相关站点</li>
                    <li>包含：页头、背景生成器、按钮、输入框、对话框、单选组、标签组、页脚和富文本编辑器</li>
                    <li>使用 Webpack 模块化图片、样式和脚本，实现 ALL IN JS</li>
                    <li>已用于我的另一个项目 <a target="_blank" href="https://github.com/youknowznm/rhaego">Rhaego</a></li>
                </ul>
            </div>
            <div class="item">
                <div class="title i">protoQuery.js<div class="right"><a target="_blank" href="https://github.com/youknowznm/protoQuery.js">https://github.com/youknowznm/protoQuery.js</a></div></div>
                <ul>
                    <li>通过修改原生对象的原型，实现 jQuery 的常用接口</li>
                    <li>包括选择器、属性和样式读写、事件监听、DOM 树遍历、字符串处理等</li>
                </ul>
            </div>
            <div class="item">
                <div class="title i">vue-memo<div class="right"><a target="_blank" href="https://github.com/youknowznm/vue-memo">https://github.com/youknowznm/vue-memo</a></div></div>
                <ul>
                    <li>基于 Vue.js 的原创笔记本应用，实现了以下功能：</li>
                    <ul>
                        <li>增删、编辑笔记，标记笔记是否为已完成状态</li>
                        <li>按类别、标题、内容或时间戳进行过滤</li>
                        <li>按创建时间或标题排序</li>
                        <li>暂存未确认保存的笔记</li>
                        <li>支持文本和涂鸦两种记录方式</li>
                        <ul>
                            <li>文本编辑器支持 Markdown 格式</li>
                            <li>涂鸦编辑器支持选取颜色、撤销、重做、清除画布</li>
                        </ul>
                        <li>通过 localStorage 对象实现数据的本地持久化</li>
                        <li>对不同尺寸的桌面端和移动端响应适配</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="resume-content-nav article-content-nav"></div>

<% include ./common/footer.ejs %>