<% include ./common/header-tags.ejs %>
<% include ./common/md-header.ejs %>

<div class="main-wrap <% if (docs[0] === undefined) {%>empty<%}%>">
    <div class="main">

        <% if (docs[0] === undefined) {%>

            <div class="empty-msg-wrap">
                <h1 class="empty-msg">You have not written any posts.</h1>
            </div>

        <%} else {%>

            <% for (let d of docs) {%>
                <div class="post-wrap">
                    <div class="post">
                        <div class="heading">
                            <h1 class="title">
                                <%-: d.title | breakToSpans %>
                            </h1>
                            <p class="summary">
                                <%= d.summary %>
                            </p>
                        </div>

                        <ul class="statistics">
                            <% if (d.liked > 0) {%>
                            <li class="liked">
                                <span class="content"><i class="icon"></i></span>
                                <span class="count"><%= d.liked %></span>
                            </li>
                            <%}%>
                            <% if (d.comments > 0) {%>
                            <li class="comments">
                                <span class="content"><i class="icon"></i></span>
                                <span class="count"><%= d.comments %></span>
                            </li>
                            <%}%>
                        </ul>

                        <ul class="tags">
                            <% for (let t of d.tags) {}%>
                            <li class="tag">
                                <button class="md-button">
                                    <span class="content">javascript</span>
                                    <div class="ripple-container"><span class="ripple"></span></div>
                                </button>
                            </li>
                            <li class="tag">
                                <button class="md-button">
                                    <span class="content">mongodb</span>
                                    <div class="ripple-container"><span class="ripple"></span></div>
                                </button>
                            </li>
                            <li class="tag">
                                <button class="md-button">
                                    <span class="content">web</span>
                                    <div class="ripple-container"><span class="ripple"></span></div>
                                </button>
                            </li>
                        </ul>

                    </div>
                </div>

                <!-- <div class="post-wrap">
                    <div class="post">
                        <div class="heading">
                            <h1 class="title">
                                <span class="single-word">passport.js</span>
                                <span class="single-word">学习笔记和</span>
                                <span class="single-word">express</span>
                                <span class="single-word">使用经验</span>
                            </h1>
                            <p class="summary">
                                A conversation with Google’s Mike Buzzard on creativity, career advancement, and criteria for success.
                            </p>
                        </div>

                        <ul class="statistics">
                            <li class="liked">
                                <span class="content"><i class="icon"></i></span>
                                <span class="count">321</span>
                            </li>
                            <li class="comments">
                                <span class="content"><i class="icon"></i></span>
                                <span class="count">321</span>
                            </li>
                        </ul>

                        <ul class="tags">
                            <li class="tag">
                                <button class="md-button">
                                    <span class="content">javascript</span>
                                    <div class="ripple-container"><span class="ripple"></span></div>
                                </button>
                            </li>
                            <li class="tag">
                                <button class="md-button">
                                    <span class="content">mongodb</span>
                                    <div class="ripple-container"><span class="ripple"></span></div>
                                </button>
                            </li>
                            <li class="tag">
                                <button class="md-button">
                                    <span class="content">web</span>
                                    <div class="ripple-container"><span class="ripple"></span></div>
                                </button>
                            </li>
                        </ul>

                    </div>
                </div> -->

            <%}%>

        <%}%>

        <% include ./common/fixed-panel.ejs %>

    </div>

</div>

<% include ./common/footer-tags.ejs %>
