<% include ./common/header-tags.ejs %>
<% include ./common/md-header.ejs %>

<div class="main-wrap <% if (docs[0] === undefined) {%>no-margin-top<%}%>">
    <div class="main">

        <% if (docs[0] === undefined) {%>
            <div class="no-posts">
                <h1>You have not written any posts.</h1>
            </div>
        <% } else {%>
            <div class="post-wrap">
                <div class="post">
                    <div class="heading">
                        <h1 class="title">
                            <span class="single-word">Building</span>
                            <span class="single-word">Better</span>
                            <span class="single-word">Design</span>
                            <span class="single-word">Culture</span>
                        </h1>
                        <p class="summary">
                            A conversation with Google’s Mike Buzzard on creativity, career advancement, and criteria for success.
                        </p>
                    </div>

                    <ul class="tags">
                        <li class="tag">
                            <button class="md-button">
                                <span class="content">JavaScript</span>
                                <div class="ripple-container"><span class="ripple"></span></div>
                            </button>
                        </li>
                        <li class="tag">
                            <button class="md-button">
                                <span class="content">MongoDB</span>
                                <div class="ripple-container"><span class="ripple"></span></div>
                            </button>
                        </li>
                        <li class="tag">
                            <button class="md-button">
                                <span class="content">JavaScript</span>
                                <div class="ripple-container"><span class="ripple"></span></div>
                            </button>
                        </li>
                    </ul>
                    <!-- <ul class="statistics">
                        <li class="liked">
                            <span class="count"></span>
                        </li>
                        <li class="liked">
                            <span class="count"></span>
                        </li>
                    </ul> -->
                </div>
            </div>

            <div class="post-wrap">
                <div class="post">
                    <div class="heading">
                        <h1 class="title">
                            <span class="single-word">Building</span>
                            <span class="single-word">Better</span>
                            <span class="single-word">Design</span>
                            <span class="single-word">Culture</span>
                        </h1>
                        <p class="summary">
                            A conversation with Google’s Mike Buzzard on creativity, career advancement, and criteria for success.
                        </p>
                    </div>

                    <ul class="tags">
                        <li class="tag">
                            <button class="md-button">
                                <span class="content">JavaScript</span>
                                <div class="ripple-container"><span class="ripple"></span></div>
                            </button>
                        </li>
                        <li class="tag">
                            <button class="md-button">
                                <span class="content">MongoDB</span>
                                <div class="ripple-container"><span class="ripple"></span></div>
                            </button>
                        </li>
                        <li class="tag">
                            <button class="md-button">
                                <span class="content">JavaScript</span>
                                <div class="ripple-container"><span class="ripple"></span></div>
                            </button>
                        </li>
                    </ul>
                    <!-- <ul class="statistics">
                        <li class="liked">
                            <span class="count"></span>
                        </li>
                        <li class="liked">
                            <span class="count"></span>
                        </li>
                    </ul> -->
                </div>
            </div>

            <div class="post-wrap">
                <div class="post">
                    <div class="heading">
                        <h1 class="title">
                            <span class="single-word">Building</span>
                            <span class="single-word">Better</span>
                            <span class="single-word">Design</span>
                            <span class="single-word">Culture</span>
                        </h1>
                        <p class="summary">
                            A conversation with Google’s Mike Buzzard on creativity, career advancement, and criteria for success.
                        </p>
                    </div>

                    <ul class="tags">
                        <li class="tag">
                            <button class="md-button">
                                <span class="content">JavaScript</span>
                                <div class="ripple-container"><span class="ripple"></span></div>
                            </button>
                        </li>
                        <li class="tag">
                            <button class="md-button">
                                <span class="content">MongoDB</span>
                                <div class="ripple-container"><span class="ripple"></span></div>
                            </button>
                        </li>
                        <li class="tag">
                            <button class="md-button">
                                <span class="content">JavaScript</span>
                                <div class="ripple-container"><span class="ripple"></span></div>
                            </button>
                        </li>
                    </ul>
                    <!-- <ul class="statistics">
                        <li class="liked">
                            <span class="count"></span>
                        </li>
                        <li class="liked">
                            <span class="count"></span>
                        </li>
                    </ul> -->
                </div>
            </div>

            <div class="post-wrap">
                <div class="post">
                    <div class="heading">
                        <h1 class="title">
                            <span class="single-word">Building</span>
                            <span class="single-word">Better</span>
                            <span class="single-word">Design</span>
                            <span class="single-word">Culture</span>
                        </h1>
                        <p class="summary">
                            A conversation with Google’s Mike Buzzard on creativity, career advancement, and criteria for success.
                        </p>
                    </div>

                    <ul class="tags">
                        <li class="tag">
                            <button class="md-button">
                                <span class="content">JavaScript</span>
                                <div class="ripple-container"><span class="ripple"></span></div>
                            </button>
                        </li>
                        <li class="tag">
                            <button class="md-button">
                                <span class="content">MongoDB</span>
                                <div class="ripple-container"><span class="ripple"></span></div>
                            </button>
                        </li>
                        <li class="tag">
                            <button class="md-button">
                                <span class="content">JavaScript</span>
                                <div class="ripple-container"><span class="ripple"></span></div>
                            </button>
                        </li>
                    </ul>
                    <!-- <ul class="statistics">
                        <li class="liked">
                            <span class="count"></span>
                        </li>
                        <li class="liked">
                            <span class="count"></span>
                        </li>
                    </ul> -->
                </div>
            </div>

        <% } %>

        <% include ./common/fixed-panel.ejs %>

    </div>

</div>
<div class="md-dialog-wrap">
            <div class="md-dialog">
                <h1 class="title">
                    Would you like to delete your debt?
                </h1>
                <p class="content">
                    All of the banks have agreed to forgive you your debts.
                </p>
                <div class="buttons">
                    <button class="md-button _flat confirm">
                        <span class="content">confirm</span>
                        <div class="ripple-container"><span class="ripple"></span></div>
                    </button>
                    <button class="md-button _flat cancel">
                        <span class="content">cancel</span>
                        <div class="ripple-container"><span class="ripple"></span></div>
                    </button>
                 </div>
            </div>
        </div>

<% include ./common/footer-tags.ejs %>
