<% include ./common/page-header.ejs %>

<header class="gds-header" data-theme="blue">
    <div class="gds-header-content">
        <nav>
            <a class="site-title" href="javacript:;">
                <span class="single-word">Rh</span>
                <span class="single-word">ae</span>
                <span class="single-word">go</span>
            </a>
            <ul class="nav-items">
                <li class="nav-item active">blogs</li>
                <li class="nav-item">products</li>
                <li class="nav-item">messages</li>
                <li class="nav-item">about</li>
                <!-- <li class="nav-item search"></li> -->
                <li class="nav-indicator"></li>
            </ul>
        </nav>
        <div class="banner">
            <h1 class="page-title"><%= pageTitle %></h1>
        </div>
    </div>
    <div class="ripple"></div>
</header>
<div class="gds-header-shadow"></div>

<div class="main-wrap <% if (docs[0] === undefined) {%>no-margin-top<%}%>">
    <div class="main">

        <% if (docs[0] === undefined) {%>
            <div class="no-posts">
                <h1>You have not written any posts.</h1>
            </div>
        <% } else {%>
            <div class="post">
                <div class="heading">
                    <h1 class="title">
                        <span class="single-word">Building</span>
                        <span class="single-word">Better</span>
                        <span class="single-word">Design</span>
                        <span class="single-word">Culture</span>
                    </h1>
                    <p class="summary">
                        A conversation with Google’s Mike Buzzard on creativity, career advancement, and criteria for success.
                    </p>
                </div>

                <ul class="tags">
                    <li class="tag">
                        <button class="md-button">
                            <span class="content">JavaScript</span>
                            <div class="ripple-container"><span class="ripple"></span></div>
                        </button>
                    </li>
                    <li class="tag">
                        <button class="md-button">
                            <span class="content">MongoDB</span>
                            <div class="ripple-container"><span class="ripple"></span></div>
                        </button>
                    </li>
                </ul>
                <!-- <ul class="statistics">
                    <li class="liked">
                        <button class="md-button"></button>
                        <span class="count"></span>
                    </li>
                    <li class="commments">
                        <button class="md-button"></button>
                        <span class="count"></span>
                    </li>
                </ul> -->
            </div>

            <div class="post">
                <div class="heading">
                    <h1 class="title">
                        <span class="single-word">Building</span>
                        <span class="single-word">Better</span>
                        <span class="single-word">Design</span>
                        <span class="single-word">Culture</span>
                    </h1>
                    <p class="summary">
                        A conversation with Google’s Mike Buzzard on creativity, career advancement, and criteria for success.
                    </p>
                </div>

                <ul class="tags">
                    <li class="tag">
                        <button class="md-button">
                            <span class="content">JavaScript</span>
                            <div class="ripple-container"><span class="ripple"></span></div>
                        </button>
                    </li>
                    <li class="tag">
                        <button class="md-button">
                            <span class="content">MongoDB</span>
                            <div class="ripple-container"><span class="ripple"></span></div>
                        </button>
                    </li>
                </ul>
                <!-- <ul class="statistics">
                    <li class="liked">
                        <button class="md-button"></button>
                        <span class="count"></span>
                    </li>
                    <li class="commments">
                        <button class="md-button"></button>
                        <span class="count"></span>
                    </li>
                </ul> -->
            </div>

            <div class="post">
                <div class="heading">
                    <h1 class="title">
                        <span class="single-word">Building</span>
                        <span class="single-word">Better</span>
                        <span class="single-word">Design</span>
                        <span class="single-word">Culture</span>
                    </h1>
                    <p class="summary">
                        A conversation with Google’s Mike Buzzard on creativity, career advancement, and criteria for success.
                    </p>
                </div>

                <ul class="tags">
                    <li class="tag">
                        <button class="md-button">
                            <span class="content">JavaScript</span>
                            <div class="ripple-container"><span class="ripple"></span></div>
                        </button>
                    </li>
                    <li class="tag">
                        <button class="md-button">
                            <span class="content">MongoDB</span>
                            <div class="ripple-container"><span class="ripple"></span></div>
                        </button>
                    </li>
                </ul>
                <!-- <ul class="statistics">
                    <li class="liked">
                        <button class="md-button"></button>
                        <span class="count"></span>
                    </li>
                    <li class="commments">
                        <button class="md-button"></button>
                        <span class="count"></span>
                    </li>
                </ul> -->
            </div>

            <div class="post">
                <div class="heading">
                    <h1 class="title">
                        <span class="single-word">Building</span>
                        <span class="single-word">Better</span>
                        <span class="single-word">Design</span>
                        <span class="single-word">Culture</span>
                    </h1>
                    <p class="summary">
                        A conversation with Google’s Mike Buzzard on creativity, career advancement, and criteria for success.
                    </p>
                </div>

                <ul class="tags">
                    <li class="tag">
                        <button class="md-button">
                            <span class="content">JavaScript</span>
                            <div class="ripple-container"><span class="ripple"></span></div>
                        </button>
                    </li>
                    <li class="tag">
                        <button class="md-button">
                            <span class="content">MongoDB</span>
                            <div class="ripple-container"><span class="ripple"></span></div>
                        </button>
                    </li>
                </ul>
                <!-- <ul class="statistics">
                    <li class="liked">
                        <button class="md-button"></button>
                        <span class="count"></span>
                    </li>
                    <li class="commments">
                        <button class="md-button"></button>
                        <span class="count"></span>
                    </li>
                </ul> -->
            </div>
        <% } %>


    </div>
</div>

<% include ./common/page-footer.ejs %>
