<% include ./common/header-tags.ejs %>
<% include ./common/md-header.ejs %>

<div class="main-wrap">
    <div class="main">

        <div class="md-radio-group">
            <div class="md-radio">
                <div class="shadow"></div>
                <div class="_outer">
                    <div class="_inner"></div>
                </div>
                Apple
            </div>
            <div class="md-radio _warn">
                <div class="shadow"></div>
                <div class="_outer">
                    <div class="_inner"></div>
                </div>
                Banana
            </div>
        </div>


        <!-- <div class="row">
            <button class="md-icon-button a">
                <span class="content"><i class="icon"></i></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-icon-button _primary ">
                <span class="content"></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-icon-button _disabled ">
                <span class="content"></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-icon-button _warn ">
                <span class="content"></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
        </div> -->
        <!-- flat -->
        <div class="row">
            <button class="md-button _flat">
                <span class="content">button</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _flat _primary">
                <span class="content">primary</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _flat _disabled">
                <span class="content">disabled</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _flat _warn">
                <span class="content">warn</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
        </div>
        <div class="row">
            <button class="md-button">
                <span class="content">button</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _primary">
                <span class="content">primary</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _disabled">
                <span class="content">disabled</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _warn">
                <span class="content">warn</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
        </div>
        <div class="row">
            <button class="md-button _round">
                <span class="content"><i class="icon"></i></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _round _primary">
                <span class="content"><i class="icon"></i></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _round _disabled">
                <span class="content"><i class="icon"></i></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _round _warn">
                <span class="content"><i class="icon"></i></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
        </div>
        <div class="row">
            <button class="md-button _round _small">
                <span class="content"></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _round _primary _small">
                <span class="content"></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _round _disabled _small">
                <span class="content"></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _round _warn _small">
                <span class="content"></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
        </div>

    </div>
</div>

<% include ./common/footer-tags.ejs %>


<!-- 全部文章页面静态 -->
<!-- <div class="post-wrap">
    <div class="post">
        <div class="heading">
            <h1 class="title">
                <span class="single-word">passport.js</span>
                <span class="single-word">学习笔记和</span>
                <span class="single-word">express</span>
                <span class="single-word">使用经验</span>
            </h1>
            <p class="summary">
                A conversation with Google’s Mike Buzzard on creativity, career advancement, and criteria for success.
            </p>
        </div>

        <ul class="statistics">
            <li class="liked">
                <span class="content"><i class="icon"></i></span>
                <span class="count">321</span>
            </li>
            <li class="comments">
                <span class="content"><i class="icon"></i></span>
                <span class="count">321</span>
            </li>
        </ul>

        <ul class="tags">
            <li class="tag">
                <button class="md-button">
                    <span class="content">javascript</span>
                    <div class="ripple-container"><span class="ripple"></span></div>
                </button>
            </li>
            <li class="tag">
                <button class="md-button">
                    <span class="content">mongodb</span>
                    <div class="ripple-container"><span class="ripple"></span></div>
                </button>
            </li>
            <li class="tag">
                <button class="md-button">
                    <span class="content">web</span>
                    <div class="ripple-container"><span class="ripple"></span></div>
                </button>
            </li>
        </ul>

    </div>
</div> -->