<% include ./common/header-tags.ejs %>
<% include ./common/md-header.ejs %>

<div class="main-wrap">
    <div class="main">

        <!-- <div class="md-radio-group">
            <div class="md-radio">
                <div class="shadow"></div>
                <div class="_outer">
                    <div class="_inner"></div>
                </div>
                Apple
            </div>
            <div class="md-radio _warn">
                <div class="shadow"></div>
                <div class="_outer">
                    <div class="_inner"></div>
                </div>
                Banana
            </div>
        </div>

        <div class="row">
            <button class="md-icon-button a">
                <span class="icon-wrap"><i class="icon"></i></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-icon-button _primary ">
                <span class="icon-wrap"></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-icon-button _disabled ">
                <span class="icon-wrap"></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-icon-button _warn ">
                <span class="icon-wrap"></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
        </div>

        <div class="row">
            <button class="md-button _flat">
                <span class="icon-wrap">button</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _flat _primary">
                <span class="icon-wrap">primary</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _flat _disabled">
                <span class="icon-wrap">disabled</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _flat _warn">
                <span class="icon-wrap">warn</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
        </div>

        <div class="row">
            <button class="md-button">
                <span class="icon-wrap">button</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _primary">
                <span class="icon-wrap">primary</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _disabled">
                <span class="icon-wrap">disabled</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _warn">
                <span class="icon-wrap">warn</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
        </div>

        <div class="row">
            <button class="md-button _round">
                <span class="icon-wrap"><i class="icon"></i></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _round _primary">
                <span class="icon-wrap"><i class="icon"></i></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _round _disabled">
                <span class="icon-wrap"><i class="icon"></i></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _round _warn">
                <span class="icon-wrap"><i class="icon"></i></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
        </div>

        <div class="row">
            <button class="md-button _round _small">
                <span class="icon-wrap"></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _round _primary _small">
                <span class="icon-wrap"></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _round _disabled _small">
                <span class="icon-wrap"></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button _round _warn _small">
                <span class="icon-wrap"></span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
        </div>

    </div>

    <div class="row">
        <div class="md-input _title">
            <label class="placeholder" for="input_1">Title</label>
            <input id="input_1" class="_input" maxlength="20" />
            <p class="error"></p>
            <h5 class="char-counter">
                <span class="current"></span>/<span class="maximum"></span>
            </h5>
        </div>
        <div class="md-input _summary">
            <label class="placeholder" for="input_2">Summary</label>
            <input id="input_2" class="_input" maxlength="40" />
            <p class="error"></p>
            <h5 class="char-counter">
                <span class="current"></span>/<span class="maximum"></span>
            </h5>
        </div>
        <div class="md-radio-group _type">
            <div class="md-radio" data-name="post">
                <div class="shadow"></div>
                <div class="_outer">
                    <div class="_inner"></div>
                </div>
                <span class="label">Post</span>
            </div>
            <div class="md-radio" data-name="product">
                <div class="shadow"></div>
                <div class="_outer">
                    <div class="_inner"></div>
                </div>
                <span class="label">Product</span>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="md-rte">
            <ul class="actions">
                <li class="bold show-tooltip">
                    <span class="icon-wrap"><i class="icon"></i></span>
                    <p class="md-tooltip to-show-at-top">bold</p>
                </li>
                <li class="italic show-tooltip">
                    <span class="icon-wrap"><i class="icon"></i></span>
                    <p class="md-tooltip to-show-at-top">italic</p>
                </li>
                <li class="underline show-tooltip">
                    <span class="icon-wrap"><i class="icon"></i></span>
                    <p class="md-tooltip to-show-at-top">underline</p>
                </li>
                <li class="strikethrough show-tooltip">
                    <span class="icon-wrap"><i class="icon"></i></span>
                    <p class="md-tooltip to-show-at-top">strikethrough</p>
                </li>
                <li class="header show-tooltip">
                    H<sub>1</sub>
                    <p class="md-tooltip to-show-at-top">header</p>
                </li>
                <li class="paragraph show-tooltip">
                    &#182;
                    <p class="md-tooltip to-show-at-top">paragraph</p>
                </li>
                <li class="quote show-tooltip">
                    <span class="icon-wrap"><i class="icon"></i></span>
                    <p class="md-tooltip to-show-at-top">quote</p>
                </li>
                <li class="ol show-tooltip">
                    <span class="icon-wrap"><i class="icon"></i></span>
                    <p class="md-tooltip to-show-at-top">ordered list</p>
                </li>
                <li class="ul show-tooltip">
                    <span class="icon-wrap"><i class="icon"></i></span>
                    <p class="md-tooltip to-show-at-top">unordered list</p>
                </li>
                <li class="code show-tooltip">
                    <span class="icon-wrap"><i class="icon"></i></span>
                    <p class="md-tooltip to-show-at-top">code</p>
                </li>
                <li class="hr show-tooltip">
                    <span class="icon-wrap"><i class="icon"></i></span>
                    <p class="md-tooltip to-show-at-top">horizontal line</p>
                </li>
                <li class="link show-tooltip">
                    <span class="icon-wrap"><i class="icon"></i></span>
                    <p class="md-tooltip to-show-at-top">link</p>
                </li>
                <li class="image show-tooltip">
                    <span class="icon-wrap"><i class="icon"></i></span>
                    <p class="md-tooltip to-show-at-top">image</p>
                </li>
                <!-- bold italic underline strikethrough h1? h2? p? quote ol ul code hr link image -->
            </ul>
        </div>
        <div class="content" contenteditable="true">

        </div>
    </div>

</div>

<% include ./common/footer-tags.ejs %>


<!-- 全部文章页面静态 -->
<!-- <div class="post-wrap">
    <div class="post">
        <div class="heading">
            <h1 class="title">
                <span class="single-word">passport.js</span>
                <span class="single-word">学习笔记和</span>
                <span class="single-word">express</span>
                <span class="single-word">使用经验</span>
            </h1>
            <p class="summary">
                A conversation with Google’s Mike Buzzard on creativity, career advancement, and criteria for success.
            </p>
        </div>

        <ul class="statistics">
            <li class="liked">
                <span class="icon-wrap"><i class="icon"></i></span>
                <span class="count">321</span>
            </li>
            <li class="comments">
                <span class="icon-wrap"><i class="icon"></i></span>
                <span class="count">321</span>
            </li>
        </ul>

        <ul class="tags">
            <li class="tag">
                <button class="md-button">
                    <span class="icon-wrap">javascript</span>
                    <div class="ripple-container"><span class="ripple"></span></div>
                </button>
            </li>
            <li class="tag">
                <button class="md-button">
                    <span class="icon-wrap">mongodb</span>
                    <div class="ripple-container"><span class="ripple"></span></div>
                </button>
            </li>
            <li class="tag">
                <button class="md-button">
                    <span class="icon-wrap">web</span>
                    <div class="ripple-container"><span class="ripple"></span></div>
                </button>
            </li>
        </ul>

    </div>
</div> -->