<% include ./common/header-tags.ejs %>
<% include ./common/md-header.ejs %>

<div class="main-wrap">
    <div class="main">
        <div class="post-specific">
            <div class="markdown-parsed">
                <%-: doc.content | parseMarkdown %>
            </div>
            <div class="content-footer">
                <% for (let i = 0; i < doc.tags.length; i++) {%>
                    <button class="md-button _flat _primary">
                        <span class="content"><%= doc.tags[i] %></span>
                        <div class="ripple-container"><span class="ripple"></span></div>
                    </button>
                <%}%>
            </div>

            <ul class="post-nav"></ul>

        </div>

        <% include ./common/controll-panel.ejs %>

    </div>

</div>

<% include ./common/footer-tags.ejs %>
