<% include ./common/page-header.ejs %>

<header class="gds-header" data-theme="blue">
    <div class="gds-header-content">
        <nav>
            <a class="site-title" href="javacript:;">
                <span class="single-word">La</span>
                <span class="single-word">gu</span>
                <span class="single-word">na</span>
            </a>
            <ul class="nav-items">
                <li class="nav-item active">blogs</li>
                <li class="nav-item">tools</li>
                <li class="nav-item">messages</li>
                <li class="nav-item">about</li>
                <!-- <li class="nav-item search"></li> -->
                <li class="nav-indicator"></li>
            </ul>
        </nav>
        <div class="ripple-layer">
            <h1 class="page-title"><%= pageTitle %></h1>
        </div>
    </div>
    <div class="ripple"></div>
</header>


<% include ./common/page-footer.ejs %>
