<% include ./common/header-tags.ejs %>
<% include ./common/md-header.ejs %>

<div class="main-wrap <% if (docs[0] === undefined) {%>empty<%}%>">

    <% if (docs[0] === undefined) {%>

        <div class="empty-msg-wrap">
            <h1 class="empty-msg">No products have been written yet.</h1>
        </div>
        <div class="main">
            <% include ./common/controll-panel.ejs %>
        </div>

    <%} else {%>

        <div class="main">

            <% for (let d of docs) {%>
                <div class="post-wrap">
                    <!-- 与post不同#1：post指向本站上的文章地址，而procuct直接通往外链 -->
                    <a class="post-link" target="_blank" href="<%= d.content %>">
                        <div class="post">
                            <div class="heading">
                                <h1 class="title">
                                    <%-: d.title | breakToSpans %>
                                </h1>
                                <p class="summary">
                                    <%= d.summary %>
                                </p>
                            </div>
                            <!-- 与post不同#2： 没有点赞情况等数据 -->
                            <ul class="tags">
                                <% for (let tag of d.tags) {%>
                                    <li class="tag">
                                        <button class="md-button">
                                            <span class="content"><%= tag %></span>
                                            <div class="ripple-container"><span class="ripple"></span></div>
                                        </button>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </a>
                </div>
            <%}%>
            <% include ./common/controll-panel.ejs %>
        </div>

    <%}%>

</div>

<% include ./common/footer-tags.ejs %>
