@import "../common/main.scss";
@import "../common/article-nav.scss";

.resume {
    background: #fafafa;
    font-size: 12px;
    margin: 12px 0;
    font-family: "Roboto";
    padding: 18px 153px 18px 3em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
                0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 2px 1px -1px rgba(0, 0, 0, 0.12);
    a {
        color: #1e88e5;
        border-bottom: 2px solid transparent;
        padding-bottom: 6px;
        transition: all .2s ease;
        &:hover {
            border-bottom-color: #1e88e5;
            padding-bottom: 3px;
        }
    }
    ul {
        padding-left: 6px;
        ul {
            padding-left: 24px;
        }
    }
    li {
        list-style-position: inside;
        line-height: 2em;
    }
    .info {
        display: flex;
        justify-content: space-between;
        .name {
            font-size: 3.5em;
            font-weight: 500;
            line-height: 100px;
            height: 100px;
            margin-left: 12px;
        }
        .subtitle {
            text-align: right;
            line-height: 2em;
            font-size: 1.4em;
            color: #666;
        }
    }
    .title {
        margin-top: 18px;
        &.i {
            font-style: italic;
        }
    }
    .ul {
        margin: 12px 0;
    }
    .block {
        display: flex;
        font-size: 1.3em;
        line-height: 2.5em;
        margin: 18px 0;
        >.title {
            width: 10em;
            .anchor {
                display: inline-block;
                color: #666;
                border-bottom: 3px solid;
                margin-left: 1em;
            }
        }
        >.content {
            color: #666;
            flex-grow: 1;
            b {
                font-weight: 400;
            }
            .right {
                float: right;
            }
            .title {
                font-weight: 400;
            }
        }
    }
}

@media print {
    .footer,.header {
        display: none;
    }
    .resume {
        padding: 0;
    }
    .resume .button-group {
        display: none;
    }
    .resume .wrapper {
        padding: 0;
        max-width: none;
    }
    .resume .block {
        font-size: 1.1em;
        margin-top: 10px;
        line-height: 2em;
    }
    .resume .block>.title {
        width: 60px;
    }
    .resume .block>.content {
        font-weight: 400;
    }
    .resume .block ul {
        margin: 5px 0;
    }
}
@page {
    size: "A4";
}

.resume-content-nav {
    width: 7em;
    li {
        width: 5em !important;
    }
}

/*
移动端重置
*/
html#mobile {
    .resume {
        padding: 0 12px;
    }
}