@import '../common/_general';
@import '../common/md-header/main';
@import '../common/footer';

.main-wrap {
    padding-top: 24px;
}

.main {
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2),
                0 1px 1px 0 rgba(0, 0, 0, .14),
                0 2px 1px -1px rgba(0, 0, 0, .12);
    border-radius: 4px;
    .row {
        font-family: "Roboto Regular";
        position: relative;
        display: block;
        background-color: #fafafa;
        // min-height: 110px;
        padding: 8px 16px;
        font-size: 16px;
        &.flex-row-space-between {
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-between !important;
        }
    }
    ._title {
        flex-grow: .5;
    }
    ._summary {
        flex-grow: 1;
    }
    ._type {

    }
    ._tags {
        display: block;
        margin-right: 264px;
        clear: right;
        #input_3 {
            width: 210px;
        }
    }
    .buttons {
        position: absolute;
        right: 55px;
        top: 15px;
    }
}