@import '../common/_general';
@import '../common/gds-header/main';

.main-wrap {
    background-color: rgb(129, 229, 201);
}

.row {
    font-family: "Roboto";
    position: relative;
    display: block;
    background-color: rgb(250, 250, 250);
    min-height: 110px;
    padding: 16px;
    font-size: 16px;
    &.dark {
        background-color: rgb(48, 48, 48);
    }
}

.md-input.title {
    width: 30%;
}

.md-input.summary {
    width: 65%;
}