@import "../common/main.scss";

.article-wrap {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto 12px;
    padding: 18px;
    background: #fff;
    font-family: 'Roboto';
    overflow: hidden;

    .article-content {
        margin-right: 170px;
        // 小页面宽度时内容宽度的重置
        // @media (max-width: 1150px) {
        //     & {
        //         max-width: 700px;
        //     }
        // }
    }

    // 导航元素
    .article-content-nav {
        position: absolute;
        box-sizing: border-box;
        width: 160px;
        right: 0;
        top: 24px;
        border-left: 4px solid #1e88e5;
        padding: 0 0 0 12px !important;
        li {
            list-style: none !important;
            width: 9em;
            font-size: 14px;
            line-height: 24px;
            color: #212121;
            cursor: pointer;
            font-family: "Roboto";
            &:first-child {
                margin: 0 !important;
                color: #757575;
                font-weight: 500;
            }
            &.current,
            &:hover {
                color: #039be5;
            }
        }
        &.fixed {
            position: fixed;
            top: 300px;
        }
    }
}

.article-footer {
    .tags {
        float: left;
        .article-tag {
            margin-left: 18px;
            margin-right: 0;
            float: left;
        }
    }
    .created {
        float: right;
        margin-right: 12px;
        font-size: 14px;
        color: #757575;
        line-height: 70px;
        cursor: default;
        font-style: italic;
    }
}

.comment-input {
    > .jm-input {
        flex-grow: 1 !important;
    }
    .submit-comment {
        margin: 28px 24px;
    }
}

.comments-list {
    position: relative;
    width: 100%;
    .comment {
        position: relative;
        border-top: 1px dashed rgb(226, 226, 226);
        padding: 6px;
        text-align: left;
        transition: all .2s ease-out;
        &:last-child {
            border-bottom: 1px dashed rgb(226, 226, 226);
        }
        .comment-info {
            font-family: "Roboto";
            line-height: 20px;
            font-size: 14px;
            margin-bottom: 6px;
            .comment-author {
                color: #757575;
                font-weight: bold;
            }
            .comment-date {
                margin-left: 5px;
                color: #757575;
                font-style: italic;
            }
            .current-user-badge {
                display: none;
                float: right;
                color: #757575;
                float: right;
                font-size: 12px;
                cursor: default;
                margin-right: 6px;
            }
            .comment-order-badge {
                color: #1e88e5;
                float: right;
                font-size: 12px;
                cursor: default;
                &:before {
                    content: "#";
                }
            }
        }
        .comment-content {
            font-family: "Roboto";
            color: #212121;
            line-height: 20px;
            font-size: 14px;
            clear: both;
            padding-right: 24px;
        }
        .remove-comment {
            position: absolute;
            width: 24px;
            height: 24px;
            background: url("../../_images/ic_delete.png") no-repeat;
            background-size: 24px 24px;
            right: 3px;
            bottom: 6px;
            opacity: .5;
            transition: opacity .2s ease-out;
            cursor: pointer;
            &:hover {
                opacity: .8;
            }
        }
        &.is-by-current-user {
            .current-user-badge {
                display: block;
            }
        }
        &:hover {
            background: #BBDEFB;
        }
    }
}