@import "../common/main.scss";
@import "../common/comments.scss";
@import "../common/article-nav.scss";

.article-wrap {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto 12px;
    padding: 18px;
    background: #fff;
    font-family: 'Roboto';
    overflow: hidden;

    .article-content {
        margin-right: 170px;
        // 小页面宽度时内容宽度的重置
        // @media (max-width: 1150px) {
        //     & {
        //         max-width: 700px;
        //     }
        // }
    }

}

.article-footer {
    .tags {
        float: left;
        .article-tag {
            margin-left: 18px;
            margin-right: 0;
            float: left;
        }
    }
    .created {
        float: right;
        margin-right: 12px;
        font-size: 14px;
        color: #757575;
        line-height: 70px;
        cursor: default;
        font-style: italic;
    }
}