@import '../common/_general';
@import '../common/md-header/main';
@import '../common/footer';

body {

}

.main {
}

.article-specific {
    position: relative;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 24px 200px 24px 24px;
    background: #fff;
    font-family: 'Roboto Regular';

    // 小页面宽度时内容宽度的重置
    // @media (max-width: 1150px) {
    //     & {
    //         max-width: 700px;
    //     }
    // }

    // 重置第一个子元素的上外边距
    > *:first-child {
        margin-top: 0 !important;
    }

    // 导航元素
    .article-nav {
        position: absolute;
        box-sizing: border-box;
        width: 160px;
        right: 0;
        top: 24px;
        border-left: 4px solid #1e88e5;
        padding: 0 0 0 12px !important;
        li {
            list-style: none !important;
            margin: 8px 0 0 !important;
            width: 9em;
            font-size: 13px;
            line-height: 16px;
            color: #212121;
            cursor: pointer;
            transition: color .2s ease-out;
            &:first-child {
                margin: 0 !important;
                color: #757575;
            }
            &.active,
            &:hover {
                color: #039be5;
            }
        }
        &.fixed {
            position: fixed;
            top: 300px;
        }
    }

    .content-footer {
        position: relative;
        width: 100%;
        margin: 40px 0;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2),
                    0 1px 1px 0 rgba(0, 0, 0, .14),
                    0 2px 1px -1px rgba(0, 0, 0, .12);
        color: #757575;
        height: 68px;
        line-height: 68px;
        padding: 0 24px 0 12px;
        box-sizing: border-box;
        .tag {
            float: left;
        }
        .created {
            display: block;
            float: right;
            line-height: 68px;
            margin-left: 12px;
            user-select: none;
            cursor: default;
            font-style: italic;
        }
    }

    .comments-container {
        position: relative;
        width: 100%;
        .row {
            position: relative;
            margin: 40px 0;
        }
        .comment-input {
            margin-right: 100px;
        }
        .submit-comment {
            position: absolute;
            margin: 0;
            right: 0;
            bottom: 0;
        }
        .comments-list {
            .comment {
                border-top: 1px dashed rgba(0, 0, 0, 0.4);
                padding: 6px;
                font-family: "Roboto Regular";
                &.is-by-current-user {
                    background-color: rgb(189, 213, 237);
                }
                &:last-child {
                    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
                }
                .comment-info {
                    color: #757575;
                    line-height: 24px;
                    font-size: 12px;
                    margin-bottom: 2px;
                    .comment-author {

                    }
                    .comment-date {
                        float: right;
                        font-style: italic;
                    }
                }
                .comment-content {
                    color: #212121;
                    line-height: 18px;
                    font-size: 12px;
                    clear: both;
                }
            }
        }
    }
}

// md解析出的文章
.markdown-parsed {
    position: relative;
    padding: 10px;
    background-color: #fafafa;
    // md元素
    p {
        color: #212121;
        font-size: 16px;
        line-height: 24px;
        margin: 16px 0;
    }
    h1 {
        font-size: 34px;
        line-height: 40px;
        font-weight: 300;
        color: #757575;
        margin-bottom: 20px;
    }
    h2 {
        margin: 40px 0 20px;
        font-size: 24px;
        line-height: 36px;
        font-weight: 300;
        border-bottom: rgb(235, 235, 235) 1px solid;
    }
    li {
        margin: 8px 0;
        list-style-position: outside;
    }
    ul {
        padding-left: 40px;
        li {
            list-style-type: disc;
        }
    }
    ol {
        padding-left: 40px;
        li {
            list-style-type: decimal;
        }
    }
    li ol > li {
        list-style-type: lower-alpha;
    }
    li ul > li {
        list-style-type: circle;
    }
    a {
        color: #039be5;
    }
    code {
        color: #37474f;
        font-family: 'Roboto Mono';
        font-size: 14px;
        line-height: 14px;
        background-color: #f7f7f7;
        padding: 0 4px;
    }
    pre {
        display: block;
        padding: 8px;
        margin: 16px 0;
        background-color: #f7f7f7;
        overflow-x: auto;
        code {
            font-weight: normal;
        }
    }
}