@import '../common/_general';
@import '../common/md-header/main';
@import '../common/footer';

body {

}

.main-wrap {
    height: 100%;
}

.main {
    height: 100%;
}

.product-wrap,
.post-wrap {
    position: relative;
    float: left;
    width: 33.3%;
    height: 0;
    padding-bottom: 33.3%;
    @media (max-width: 1150px) {
        & {
            width: 50%;
            padding-bottom: 50%;
        }
    }
}

.product,
.post {
    position: absolute;
    display: block;
    left: 6px;
    top: 6px;
    bottom: 6px;
    right: 6px;
    cursor: pointer;
    user-select: none;
    transition: box-shadow .2s ease-out;
    &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2),
                    0 5px 5px 0 rgba(0, 0, 0, .24);
    }

    .heading {
        position: relative;
        padding: 16px;
        .title {
            display: inline-block;
            font-size: 24px;
            color: rgba(#fff, .87);
            font-weight: 300;
            line-height: 32px;
            .single-word {
                float: left;
                &:after {
                    content: '·';
                    opacity: .4;
                }
                &:last-of-type:after {
                    content: '¬';
                }
            }
        }
        .summary {
            font-size: 14px;
            width: 85%;
            line-height: 26px;
            margin: 10px 0 14px;
            font-family: "Roboto Regular";
            color: rgba(#fff, .87);
        }
    }

    .statistics {
        position: absolute;
        left: 16px;
        bottom: 70px;
        > li {
            float: left;
            width: 70px;
            margin-right: 6px;
            .content {
                position: relative;
                display: inline-block;
                width: 24px;
                line-height: 24px;
                height: 24px;
                vertical-align: middle;
                overflow: hidden;
                .icon {
                    position: absolute;
                    display: block;
                    width: 24px;
                    height: 24px;
                    top: -24px;
                    left: 0;
                    /*
                    http://www.zhangxinxu.com/wordpress/2016/06/png-icon-change-color-by-css/
                    Chrome下如果元素的主体部分【完全】不可见，则其drop-shadow不可见；
                    只要元素有【任何】部分可见，则其drop-shadow完全可见。
                    */
                    border-bottom: 24px solid transparent;
                    filter: drop-shadow(rgba(#fff, .87) 0 24px);
                    background-size: 24px 24px;
                }
            }
            .count {
                margin-left: 6px;
                line-height: 24px;
                font-size: 12px;
                color: rgba(#fff, .87);
            }
        }
        .liked .icon {
            background: url("../../_images/ic_favorite.png") 0 0 no-repeat;
        }
        .comments .icon {
            background: url("../../_images/ic_comment.png") 0 0 no-repeat;
        }
    }

    .tags {
        position: absolute;
        bottom: 16px;
        left: 16px;
        .tag {
            float: left;
            margin-right: 12px;
            .md-button {
                margin: 12px 0 0;
            }
        }
    }

    .bg-icon-wrap {
        position: absolute;
        display: block;
        width: 36px;
        line-height: 36px;
        height: 36px;
        overflow: hidden;
        bottom: 16px;
        right: 16px;
        z-index: 11;
        .bg-icon {
            position: absolute;
            display: block;
            width: 36px;
            height: 36px;
            top: -36px;
            left: 0;
            /*
            http://www.zhangxinxu.com/wordpress/2016/06/png-icon-change-color-by-css/
            Chrome下如果元素的主体部分【完全】不可见，则其drop-shadow不可见；
            只要元素有【任何】部分可见，则其drop-shadow完全可见。
            */
            border-bottom: 36px solid transparent;
            filter: drop-shadow(rgba(#fff, .87) 0 36px);
            background-size: 36px 36px;
            &._post {
                background: url("../../_images/ic_arrow_right.png") 0 0 no-repeat;
            }
            &._product {
                background: url("../../_images/ic_ext_link.png") 0 0 no-repeat;
            }
        }
    }

    div,
    p,
    h1,
    span,
    ul {
        z-index: 10;
    }

}
