<!DOCTYPE html>
<html class="full-height">
    <head>
        <meta charset="utf-8">
        <title>Not Found · <%-: siteName | capitalize %></title>
        <style>
            h1,
            h2,
            p {
                text-align: center;
            }
            .highlighted {
                font-weight: bold;
                border-bottom: 2px solid #000;
                padding-bottom: 4px;
            }
            .align-lt {
                text-align: left;
            }
            .full-height {
                height: 100%;
            }
            .jm-main {
                margin: 0;
                background: #fafafa;
                height: 100%;
            }
            .all-center {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
            .msg {
                white-space: nowrap;
            }
        </style>
    </head>
    <body class="jm-main">
        <div class="all-center">
            <h1>Not Found.</h1>
            <p class="msg">
                The requested URL <span class="highlighted"><%= url %></span> was not found on server.
            </p>
        </div>
    </body>
</html>
