<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>500 Internal Server Error</title>
    </head>
    <body style="margin: 0; background: #fafafa;">
        <div style="position: absolute; width: 100%; top: 50%; transform: translateY(-50%); text-align: center;">
            <h1>Internal Server Error.</h1>
            <p>
                An error occurred when accessing <span style="font-weight: bold; border-bottom: 2px solid #000; padding-bottom: 4px;"><%= url %></span>. Please try again later.
            </p>
        </div>
    </body>
</html>
