<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <title>Internal Server Error · <%-: siteName | capitalize %></title>
        <style>
            h1,
            h2,
            p {
                text-align: center;
            }
            .highlighted {
                font-weight: bold;
                border-bottom: 2px solid #000;
                padding-bottom: 4px;
            }
            .align-lt {
                text-align: left;
            }
            .full-height {
                height: 100%;
            }
            .main {
                margin: 0;
                background: #fafafa;
                height: 100%;
            }
            .all-center {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
            .msg {
                white-space: nowrap;
            }
        </style>
    </head>
    <body class="main">
        <div class="all-center">

            <% if (isDev) {%>

                <h2>Message</h2>
                <pre>
                    <%= err.message %>
                </pre>

                <h2>Stack</h2>
                <pre>
                    <%= err.stack %>
                </pre>

            <% } else {%>

                <h1>Internal Server Error.</h1>
                <p class="msg">
                    An error occurred when accessing <span class="highlighted"><%= url %></span>. Please try again later.
                </p>

            <% } %>

        </div>
    </body>
</html>
