<ul class="control-panel">


    <li class="panel-create-new">
        <button class="jm-button _round" data-tooltip-position="left" data-tooltip-content="create"></button>
    </li>

    <li class="panel-edit">
        <button class="jm-button _round" data-tooltip-position="left" data-tooltip-content="edit"></button>
    </li>

    <li class="panel-log-out">
        <button class="jm-button _round" data-tooltip-position="left" data-tooltip-content="log out"></button>
    </li>

    <!-- TODO: 高度上空间有点紧张，有时间看有没有解决方案 -->
    <li class="panel-to-top">
        <button class="jm-button _round" data-tooltip-position="left" data-tooltip-content="to top"></button>
    </li>

</ul>