<ul class="fixed-panel">

    <% if (pageTitle !== 'create') {%>
    <li class="_create-new">
        <button class="md-button _round _warn">
            <span class="content"><i class="icon"></i></span>
            <div class="ripple-container"><span class="ripple"></span></div>
        </button>
    </li>
    <%}%>
    <li class="_to-top">
        <button class="md-button _round _warn">
            <span class="content"><i class="icon"></i></span>
            <div class="ripple-container"><span class="ripple"></span></div>
        </button>
    </li>
</ul>