<% include ./login-snackbar.ejs %>

<footer class="md-footer">

    <div class="_top-wrap">
        <div class="_top">
            <div class="social">
                <ul class="link-container">
                    <li class="link wechat">
                        <div class="hover-content"></div>
                    </li>
                    <li class="link mail">
                        <a href="mailto:znm92@icloud.com"></a>
                        <div class="hover-content">Email me!</div>
                    </li>
                    <li class="link zhihu">
                        <a href="https://www.zhihu.com/people/youkonwznm" target="_blank"></a>
                    </li>
                    <li class="link github">
                        <a href="https://github.com/youknowznm" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="_bottom-wrap">
        <div class="_bottom">
            <a href="/" class="logo">Rhaego</a>
            <p class="info">
                <!-- Theme inspired by <a href="https://design.google.com" target="_blank" class="info-link">Google Design</a>,
                <a href="https://firebase.google.com/docs/web/setup" target="_blank" class="info-link">Firebase Docs</a> and
                <a href="https://material.angularjs.org/latest/demo/input" target="_blank" class="info-link">AngularJS Material</a>.
                <br /> -->
                Made with
                <span class="heart-wrap">
                    <svg class="heart" width="14px" height="14px" viewBox="0 0 24 24">
                        <path  fill="#ff5252" d="M12 21.35l-1.45-1.32c-5.15-4.67-8.55-7.75-8.55-11.53 0-3.08 2.42-5.5 5.5-5.5 1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54l-1.45 1.31z"></path>
                    </svg>
                </span>
                by <a href="https://github.com/youknowznm" target="_blank" class="info-link">youknowznm</a>.
            </p>
            <button class="md-button source _warn _flat">
                <span class="content">View Source</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
        </div>
    </div>

</footer>

</body>
</html>
