<div class="md-snackbar">

    <p class="_title">
        Log in for better experiences.
    </p>

    <!-- 登录开始 -->
    <div class="_content _login ">
        <div class="md-input dark email">
            <!-- IDEA: 只有for属性和对应input的id一致时，才能达到点击前者，聚焦后者的效果。 -->
            <label class="placeholder" for="input_1">Email</label>
            <input id="input_1" class="_input" maxlength="30" />
            <p class="error">Invalid email.</p>
            <h5 class="char-counter">
                <span class="current"></span>&nbsp;/&nbsp;<span class="maximum"></span>
            </h5>
        </div>
        <div class="md-input dark password">
            <label class="placeholder" for="input_2">Password</label>
            <input id="input_2" class="_input" type="password" maxlength="20" />
            <p class="error">Required.</p>
            <h5 class="char-counter">
                <span class="current"></span>&nbsp;/&nbsp;<span class="maximum"></span>
            </h5>
        </div>
        <div class="buttons">
            <button class="md-button _primary login">
                <span class="content">log in</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
        </div>
        <p class="_hint">
            <span class="link _to-register">Register</span> if you haven't got an account yet.
        </p>
    </div>

    <!-- 登录结束 -->

    <!-- 注册开始 -->
    <div class="_content _register show">
        <div class="md-input dark email">
            <label class="placeholder" for="input_3">Email</label>
            <input id="input_3" class="_input" maxlength="30" value="znm92@icloud.com"/>
            <p class="error">Invalid email.</p>
            <h5 class="char-counter">
                <span class="current"></span>&nbsp;/&nbsp;<span class="maximum"></span>
            </h5>
        </div>
        <div class="md-input dark nickname">
            <label class="placeholder" for="input_4">Nickname</label>
            <input id="input_4" class="_input" maxlength="20"  value="znm92" />
            <p class="error">Required.</p>
            <h5 class="char-counter">
                <span class="current"></span>&nbsp;/&nbsp;<span class="maximum"></span>
            </h5>
        </div>
        <div class="md-input dark password">
            <label class="placeholder" for="input_5">Password</label>
            <input id="input_5" class="_input" type="password" maxlength="16" />
            <p class="error">Required.</p>
            <h5 class="char-counter">
                <span class="current"></span>&nbsp;/&nbsp;<span class="maximum"></span>
            </h5>
        </div>
        <div class="md-input dark confirm-password">
            <label class="placeholder" for="input_6">Confirm Password</label>
            <input id="input_6" class="_input" type="password" maxlength="16" />
            <p class="error">Required.</p>
            <h5 class="char-counter">
                <span class="current"></span>&nbsp;/&nbsp;<span class="maximum"></span>
            </h5>
        </div>
        <div class="buttons">
            <button class="md-button register">
                <span class="content">register</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
        </div>
        <p class="_hint">
            <span class="link _to-login">Log in</span> if you've got an account.
        </p>
    </div>

    <!-- 注册结束 -->

    <!-- 提示开始 -->
    <div class="_content _notification">
        Please check the verification mail just sent to <span class="highlighted">your mailbox</span>.
        <p class="_hint">
            <span class="link _to-login">Log in</span> if you've got an account.
        </p>
    </div>
    <!-- 提示结束 -->

</div>