<div id="login-area" class="jm-responsive-wrap">
    <p class="_title">
        Log in to leave comments.
    </p>
    <div class="_content">

        <!-- IDEA: 只有for属性和对应input的id一致时，才能达到点击前者，聚焦后者的效果。 -->
        <div class="jm-input login-email"
            data-validator="^([a-zA-Z\d\-]+)\w*@(\w+)(\.[a-zA-Z]{1,4}){1,2}$"
            data-label="Email"
            data-max-length="30"
            data-theme="dark"
            data-value="znm92@icloud.com"
            data-error-msg="Invalid email format.">
        </div>

        <div class="jm-input login-password"
            data-type="password"
            data-validator="^(.){6,16}$"
            data-label="Password"
            data-max-length="16"
            data-theme="dark"
            data-error-msg="Required 6~16 characters.">
        </div>

        <button id="confirm-login" class="jm-button _primary input-check-target" data-text="login"></button>

        <p class="hint">
            <span class="link to-register-area">Register</span> if you haven't yet.
        </p>

    </div>
</div>

<div id="register-area" class="jm-dialog-wrap">
    <div class="jm-dialog">
        <h1 class="dialog-title">Enter your profile.</h1>
        <div class="jm-input register-email"
            data-validator="^([a-zA-Z\d\-]+)\w*@(\w+)(\.[a-zA-Z]{1,4}){1,2}$"
            data-label="Email"
            data-max-length="30"
            data-value="znm92@icloud.com"
            data-error-msg="Invalid email format.">
        </div>
        <div class="jm-input register-nickname"
            data-validator="^(.){4,12}$"
            data-label="Nickname"
            data-max-length="12"
            data-value="znm92@icloud.com"
            data-error-msg="Required 4~12 characters.">
        </div>
        <div class="jm-input register-password"
            data-type="Password"
            data-validator="^(.){6,16}$"
            data-label="password"
            data-max-length="16"
            data-error-msg="Required 6~16 characters.">
        </div>
        <div class="jm-input register-confirm-password"
            data-type="password"
            data-validator="^(.){6,16}$"
            data-label="Confirm Password"
            data-max-length="16"
            data-error-msg="Required 6~16 characters.">
        </div>
        <div class="buttons">
            <button id="confirm-register" class="jm-button _primary _flat input-check-target" data-text="register"></button>
            <button id="cancel-register" class="jm-button _flat" data-text="cancel"></button>
        </div>
    </div>
</div>