<div class="md-snackbar">
    <p class="_title">
        <span class="strong">Log in</span> for better experiences.
    </p>
    <div class="_content">
        <div class="md-input dark email">
            <label class="placeholder" for="">Email</label>
            <input id="" class="_input" maxlength="20" />
            <p class="error"></p>
            <h5 class="char-counter">
                <span class="current"></span>&nbsp;/&nbsp;<span class="maximum"></span>
            </h5>
        </div>
        <div class="md-input dark password">
            <label class="placeholder" for="">Password</label>
            <input id="" class="_input" type="password" maxlength="20" />
            <p class="error"></p>
            <h5 class="char-counter">
                <span class="current"></span>&nbsp;/&nbsp;<span class="maximum"></span>
            </h5>
        </div>
        <div class="buttons">
            <button class="md-button _primary login">
                <span class="content">log in</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
            <button class="md-button register">
                <span class="content">register</span>
                <div class="ripple-container"><span class="ripple"></span></div>
            </button>
        </div>
    </div>
</div>