<div class="login-snackbar jm-responsive-wrap" id="login">

    <p class="_title">
        Log in to <span class="underlined">comment</span> articles (or <span class="underlined">create</span> one if you're the owner).
    </p>

    <div class="_division">

        <!-- IDEA: 只有for属性和对应input的id一致时，才能达到点击前者，聚焦后者的效果。 -->
        <div class="jm-input email"
            data-validator="^([a-zA-Z\d\-]+)\w*@(\w+)(\.[a-zA-Z]{1,4}){1,2}$"
            data-label="email"
            data-max-length="30"
            data-theme="dark"
            data-error-msg="Invalid email format.">
        </div>
        <!-- data-value="znm92@icloud.com" -->

        <div class="jm-input password"
            data-type="password"
            data-validator="^(.){6,16}$"
            data-label="password"
            data-max-length="16"
            data-theme="dark"
            data-error-msg="Need 6~16 characters.">
        </div>

        <button class="jm-button _primary login" data-text="login"></button>

        <p class="_hint">
            <span class="link _to-register">Register</span> if you haven't got an account yet.
        </p>

    </div>

</div>

<div class="jm-dialog-wrap" id="register">
    <div class="jm-dialog">
        <h1 class="dialog-title">Enter your profile.</h1>
        <div class="jm-input email"
            data-validator="^([a-zA-Z\d\-]+)\w*@(\w+)(\.[a-zA-Z]{1,4}){1,2}$"
            data-label="email"
            data-max-length="30"
            data-error-msg="Invalid email format.">
        </div>
        <div class="jm-input nickname"
            data-validator="^(.){4,12}$"
            data-label="nickname"
            data-max-length="12"
            data-error-msg="Need 4~12 characters.">
        </div>
        <div class="jm-input password"
            data-type="password"
            data-validator="^(.){6,16}$"
            data-label="password"
            data-max-length="16"
            data-error-msg="Need 6~16 characters.">
        </div>
        <div class="jm-input password confirm-password"
            data-type="password"
            data-validator="^(.){6,16}$"
            data-label="confirm password"
            data-max-length="16"
            data-error-msg="Need 6~16 characters.">
        </div>
        <div class="buttons">
            <button class="jm-button _primary register" data-text="register"></button>
            <button class="jm-button cancel" data-text="cancel"></button>
        </div>
    </div>
</div>