<header class="md-header" data-theme="blue">
    <div class="md-header-content">
        <nav>
            <a class="site-title" href="/">
                <span class="single-word">Rh</span>
                <span class="single-word">ae</span>
                <span class="single-word">go</span>
            </a>
            <ul class="nav-items">
                <li class="nav-item <% if (navType === 0) {%> active <%}%>">posts</li>
                <li class="nav-item <% if (navType === 1) {%> active <%}%>">products</li>
                <li class="nav-item <% if (navType === 2) {%> active <%}%>">messages</li>
                <li class="nav-item <% if (navType === 3) {%> active <%}%>">about</li>
                <!-- <li class="nav-item search"></li> -->
                <li class="nav-indicator"></li>
            </ul>
        </nav>
        <div class="banner">
            <h1 class="page-title"><%-: pageTitle | breakToSpans %></h1>
        </div>
    </div>
    <div class="ripple"></div>
</header>
<div class="md-header-shadow"></div>
