<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= title %> | <%= siteName %></title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet"
        type="text/css"
        href="styles/pages/<%= featureName %>/<%= sourceName %>.css" />
</head>
