<!-- <script type="text/javascript" src="javascripts/common.js"></script>
<script
    type="text/javascript"
    src="javascripts/<%= static %>.js">
</script> -->



<footer>
    <div class="_social">
    <ul>
        <li class="_link wechat"></li>
        <li class="_link github"></li>
        <li class="_link zhihu"></li>
        <li class="_link mail"></li>
    </ul>
    </div>
</footer>

</body>
</html>
