<!-- <script type="text/javascript" src="javascripts/common.js"></script>
<script
    type="text/javascript"
    src="javascripts/<%= static %>.js">
</script> -->



<footer>
    <h1 class="logo">Rhaego</h1>
    <p class="info">Made with <i class="heart"></i> by youknowznm</p>
    <button class="source md-button _warn">View Source</button>
    <div class="_social">
        <ul class="link-container">
            <li class="link wechat"></li>
            <li class="link github"></li>
            <li class="link zhihu"></li>
            <li class="link mail"></li>
        </ul>
    </div>
</footer>

</body>
</html>
