@charset "UTF-8";
@import "./_mixins";
@import "./md-input";
@import "./md-tag";
@import "./md-textarea";
@import "./md-button";
@import "./md-background";
@import "./md-dialog";
/*
font
*/
@font-face {
    font-family: 'Roboto Mono';
    src: url("/fonts/RobotoMono-Regular.ttf");
}
@font-face {
    font-family: 'Roboto Regular';
    src: url("/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: 'Roboto Medium';
    src: url("/fonts/Roboto-Medium.ttf");
}
/*
colors
*/
$md-header-colors: (
    rgb(66, 133, 244), //blue
    rgb(251, 188, 5), //yellow
    rgb(52, 168, 83), //green
    rgb(241, 243, 244), //silver
    rgb(234, 67, 53), //red
    rgb(60, 90, 100), //gray
);
$gen-colors: (
    translucent-black: rgba(#000, .3),
    translucent-white: rgba(#fff, .5),
    black: rgba(#000, .7),
    white: #fff,
    light-silver: #99A9BF,
);
/*
general
*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
html {
    height: 100%;
    min-height: 750px;
}
body {
    font-family: "Roboto Mono", "Helvetica Neue",
                 "PingFang SC", "Microsoft YaHei",
                 "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: relative;
    height: 100%;
    &.no-scroll {
        overflow: hidden;
        // 设置右内边距以填充滚动条的空位
        padding-right: 15px;
        // 设置右外边距以填充导航条的空位
        .nav-items {
            margin-right: 15px;
        }
    }
}
.main-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 256px;
    padding-bottom: 232px;
    background: rgb(250, 250, 250);
    z-index: 99;
    animation: wrapPopIn .5s;
    @keyframes wrapPopIn {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transition: translateY(0);
        }
    }
    &.empty {
        margin-top: 0;
        height: calc(100% - 256px - 144px + 24px);
        .main {
            position: absolute;
        }
    }
    .empty-msg-wrap {
        position: absolute;
        width: 100%;
        top: 256px;
        bottom: 0;
        left: 0;
        text-align: center;
        font-family: 'Roboto';
        color: #666;
        .empty-msg {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 18px;
            user-select: none;
            cursor: default;
        }
    }
}
.main {
    position: relative;
    height: 100%;
    @include mds-responsive-wrap;
    .fixed-panel {
        display: none;
        position: absolute;
        top: 300px;
        right: 24px;
        z-index: 110;
        > li {
            display: block;
            animation: zoomIn .4s ease;
            &.zoom-out {
                display: none;
                animation: zoomIn .4s ease reverse;
            }
        }
        ._create-new .icon {
            background: url("../../_images/ic_create.png") no-repeat;
            filter: drop-shadow(#fff 0 24px);
        }
        ._to-top .icon {
            background: url("../../_images/ic_arrow_up.png") no-repeat;
            filter: drop-shadow(#fff 0 24px);
        }
        @keyframes zoomIn {
            from {
                display: none;
                transform: scale(0);
            }
            to {
                display: block;
                transform: scale(1);
            }
        }

    }
}