@charset "UTF-8";

.comment-input {
    > .jm-input {
        flex-grow: 1 !important;
    }
    .submit-comment {
        margin: 28px 24px;
    }
}

.comments-list {
    position: relative;
    width: 100%;
    .comment {
        position: relative;
        border-top: 1px dashed rgb(226, 226, 226);
        padding: 6px 12px;
        text-align: left;
        transition: all .2s ease-out;
        list-style: none;
        &:last-child {
            border-bottom: 1px dashed rgb(226, 226, 226);
        }
        .comment-info {
            font-family: "Roboto";
            line-height: 20px;
            font-size: 14px;
            .comment-author {
                display: inline-block;
                margin-right: 6px;
                line-height: 24px;
                color: #757575;
                font-weight: bold;
            }
            .comment-date {
                display: inline-block;
                line-height: 24px;
                color: #757575;
                font-style: italic;
            }
            .remove-comment {
                display: inline-block;
                width: 24px;
                height: 24px;
                line-height: 24px;
                background: url("../../_images/ic_delete_24px.svg") no-repeat;
                background-size: 24px 24px;
                right: 3px;
                bottom: 6px;
                opacity: .3;
                vertical-align: middle;
                transition: opacity .2s ease-out;
                cursor: pointer;
                &:hover {
                    opacity: .7;
                }
            }
            .comment-order-badge {
                color: #1e88e5;
                float: right;
                font-size: 12px;
                cursor: default;
                &:before {
                    content: "#";
                }
            }
        }
        .comment-content {
            font-family: "Roboto";
            color: #212121;
            line-height: 18px;
            font-size: 14px;
            clear: both;
            padding-right: 100px;
        }
        .current-user-badge {
            display: none;
            position: absolute;
            right: 12px;
            bottom: 6px;
            color: #aaa;
            font-size: 12px;
            cursor: default;
            font-family: "Roboto";
        }
        &.is-by-current-user {
            .current-user-badge {
                display: block;
            }
        }
        &:hover {
            background: #BBDEFB;
        }
    }
}

.no-comments {
    display: none;
    > p {
        line-height: 70px;
        color: #757575;
        user-select: none;
        cursor: default;
    }
    &.show {
        display: block;
    }
}

// 移动端重置
html#mobile {
    .comment-input {
        flex-wrap: wrap;
    }
    .submit-comment {
        width: 100%;
        margin: 0 24px 24px;
    }
    .comment * {
        @media (max-width: 350px) {
            font-size: 12px !important
        }
    }
}