.control-panel {
    display: none;
    position: absolute;
    right: -90px;
    top: 200px;
    transform: translateY(-50%);
    z-index: 199;
    .panel-item {
        display: block;
        animation: zoomIn .3s cubic-bezier(0.25, 0.8, 0.25, 1);
        @keyframes zoomIn {
            from {
                display: none;
                transform: scale(0);
            }
            to {
                display: block;
                transform: scale(1);
            }
        }
    }
    .panel-log-out .icon {
        background: url("../../_images/ic_logout.png") no-repeat;
    }
    .panel-create-new .icon {
        background: url("../../_images/ic_create.png") no-repeat;
    }
    .panel-edit .icon {
        background: url("../../_images/ic_edit.png") no-repeat;
    }
    .panel-to-top .icon {
        background: url("../../_images/ic_arrow_up.png") no-repeat;
    }

}