.control-panel {
    display: none;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 120;
    .panel-item {
        display: block;
        animation: zoomIn .3s cubic-bezier(0.25, 0.8, 0.25, 1);
        @keyframes zoomIn {
            from {
                display: none;
                transform: scale(0);
            }
            to {
                display: block;
                transform: scale(1);
            }
        }
    }
    .panel-log-out .icon {
        background: url("../../_images/ic_exit_to_app_24px.svg") no-repeat;
    }
    .panel-create-new .icon {
        background: url("../../_images/ic_insert_drive_file_24px.svg") no-repeat;
    }
    .panel-edit .icon {
        background: url("../../_images/ic_edit_24px.svg") no-repeat;
    }
    .panel-to-top .icon {
        background: url("../../_images/ic_keyboard_arrow_up_24px.svg") no-repeat;
    }
}

/*
移动端重置
*/
html#mobile {
    .control-panel {

    }
}