@import "./_mixins";

body > footer {
    position: relative;
    @include mds-responsive-wrap;
    height: 144px;
    line-height: 144px;
    background-color: #fff;
    z-index: 100;
    user-select: none;

    .logo {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'Roboto';
        font-size: 34px;
        line-height: 40px;
        font-weight: 300;
        opacity: .5;
        transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }

    .info {
        position: absolute;
        line-height: 24px;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-size: 12px;
        color: #000;
        cursor: default;
        .heart-wrap {
            position: relative;
            display: inline-block;
            width: 14px;
            height: 24px;
            line-height: 24px;
            vertical-align: middle;
            .heart {
                position: absolute;
                left: 0;
                top: 3px;
            }
        }
        .out-link {
            cursor: pointer;
            padding: 6px 0;
            border-bottom: 2px solid transparent;
            transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
            &:hover {
                border-bottom-color: #000;
                padding: 4px 0;
            }
        }
    }

    .source {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
    }

    .social {
        position: absolute;
        width: 100%;
        top: -72px;
        height: 72px;
        line-height: 72px;
        background-color: transparent;

        .link-container {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }

        .link  {
            float: left;
            width: 24px;
            height: 24px;
            margin-right: 24px;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 24px 24px;
            opacity: .6;
            transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
            cursor: pointer;
            &.wechat {
                background-image: url("../../_images/footer/ic_wechat.png");
            }
            &.github {
                background-image: url("../../_images/footer/ic_github.png");
            }
            &.mail {
                opacity: .5;
                background-image: url("../../_images/footer/ic_email.png");
            }
            &.zhihu {
                background-image: url("../../_images/footer/ic_zhihu.png");
            }
            &:hover {
                opacity: 1 !important;
            }
        }

    }

}