@import "./_mixins";

body > footer {
    position: relative;
    @include gds-responsive-wrap;
    height: 144px;
    line-height: 144px;
    background-color: #fff;

    ._social {
        position: absolute;
        width: 100%;
        top: -72px;
        height: 72px;
        line-height: 72px;
        background-color: transparent;

        ._link  {
            float: left;
            width: 24px;
            height: 24px;
            margin-left: 24px;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 24px 24px;
            &.wechat {
                background-image: url("../../_images/footer/ic_wechat.png");
            }
            &.github {
                background-image: url("../../_images/footer/ic_github.png");
            }
            &.mail {
                background-image: url("../../_images/footer/ic_mail_outline.png");
            }
            &.zhihu {
                background-image: url("../../_images/footer/ic_zhihu.png");
            }
        }

    }

}