@charset "UTF-8";

#login-area {
    position: fixed;
    bottom: -145px;
    height: 145px;
    background: #000;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, .2);
    transition: bottom .4s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    z-index: 200;
    text-align: center;
    opacity: .87;

    ._title {
        color: rgb(255, 235, 59);
        font-size: 14px;
        height: 36px;
        line-height: 36px;
        opacity: 1;
        transition: all .3s cubic-bezier(0.25, 0.8, 0.25, 1);
        font-family: "Roboto";
        text-transform: uppercase;
        letter-spacing: .05rem;
        user-select: none;
        cursor: pointer;
        .underlined {
            padding-bottom: 3px;
            border-bottom: 2px solid rgb(255, 235, 59);
            font-weight: 500;
            cursor: pointer;
        }
    }

    ._content {
        position: absolute;
        display: inline-block;
        width: 100%;
        opacity: 0;
        top: 12px;
        left: 0;
        transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);

        .jm-input {
            display: inline-block;
            margin: 0 12px;
        }

        .jm-button {
            width: 120px;
            margin: 8px 8px;
        }

        ._hint {
            position: relative;
            width: 100%;
            font-size: 12px;
            line-height: 24px;
            text-align: center;
            color: #fff;
            .link {
                cursor: pointer;
                color: #ffeb3b;
                padding: 8px 0;
                font-weight: bold;
                border-bottom: 2px solid transparent;
                transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
                &:hover {
                    border-bottom-color: #ffeb3b;
                    padding: 4px 0;
                }
            }
        }

        .jm-input {
            min-width: 0;
            width: 240px;
        }

    }

    &.show-partial {
        bottom: -109px;
    }

    &.show-full {
        ._title {
            opacity: 0;
        }
        ._content {
            opacity: 1;
        }
        bottom: 0;
        opacity: 1;
        cursor: default;
    }

    // 隐藏 登录、注册、提示检查邮件 三种状态类下的所有内容，只在指定情况下显示
    ._register,
    ._login,
    ._notification {
        display: none;
        &.show {
            display: block;
        }
    }

}

#register-area {
    display: none;
    .jm-dialog {
        transform-origin: 0 50%;
    }
    .jm-input {
        display: block;
    }
    .buttons {
        justify-content: space-around;
        margin: 6px 0 12px;
    }
    .jm-button {
        flex-grow: 0;
        width: 140px;
    }
    .dialog-title {
        text-align: center;
    }
}