@charset "UTF-8";
@import "./control-panel.scss";
@import "./login-snackbar.scss";

/*
general
*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}
a {
    text-decoration: none;
    color: #000;
}
ul, ol {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
html {
    height: 100%;
}
body {
    position: relative;
    height: calc(100% - 487px);
    font-family: "Roboto Mono", "Helvetica Neue",
                 "PingFang SC", "Microsoft YaHei",
                 "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    &.no-scroll {
        overflow: hidden;
    }
}
.jm-main-wrap {
    position: relative;
    min-height: calc(100% - 144px);
}
.jm-main {
    position: relative;
    box-shadow: none;
    height: 100%;
}