@charset "UTF-8";
@import "./login.scss";
@import "./control-panel.scss";

/*
general
*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

html {
    &#pc {
        min-height: 700px;
        &.no-scroll {
            #login-area {
                margin-left: -7.5px;
            }
        }
        &.no-content {
            height: 100%;
            display: flex;
            flex-direction: column-reverse;
            .panel-to-top {
                display: none;
            }
        }
    }
    &#mobile {

    }
}

body {
    position: relative;
    font-family: "Roboto Mono", "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #fafafa;
    .jm-main-wrap {
        position: relative;
        min-height: 180px;
        padding: 0 !important;
    }
    .jm-main {
        position: relative;
        box-shadow: none;
        width: 100%;
        padding: 0 !important;
    }
    .jm-row {
        margin: 12px 0;
        &.flexed {
            display: flex;
        }
    }
}
