@charset "UTF-8";
@import "./_mixins";

.md-snackbar {
    position: fixed;
    @include mds-responsive-wrap;
    bottom: -145px;
    height: 145px;
    background: #000;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, .2);
    transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    z-index: 200;
    text-align: center;
    opacity: .87;

    ._title {
        color: rgb(255, 235, 59);
        font-size: 14px;
        height: 36px;
        line-height: 36px;
        opacity: 1;
        transition: all .3s cubic-bezier(0.25, 0.8, 0.25, 1);
        font-family: "Roboto Regular";
        text-transform: uppercase;
        letter-spacing: .05rem;
        .strong {
            font-weight: bold;
        }
    }

    ._content {
        position: absolute;
        display: inline-block;
        width: 100%;
        opacity: 0;
        top: 12px;
        left: 0;
        transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);

        .md-input {
            display: inline-block;
            margin-left: 12px;
            margin-right: 12px;
            margin-top: 6px;
            width: 300px;
        }

        .buttons {
            position: relative;
            display: inline-block;
            margin-left: 12px;
            margin-top: 10px;
        }

        .md-button {
            width: 120px;
            margin: 8px 8px;
        }

        ._hint {
            position: relative;
            width: 100%;
            font-size: 12px;
            line-height: 24px;
            margin-top: 20px;
            text-align: center;
            color: #fff;
            .link {
                cursor: pointer;
                color: #ffeb3b;
                padding: 8px 0;
                font-weight: bold;
                border-bottom: 2px solid transparent;
                transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
                &:hover {
                    border-bottom-color: #ffeb3b;
                    padding: 4px 0;
                }
            }
        }

        // 提示检查邮件
        &._register {
            .md-input {
                width: 140px;
            }
        }

        // 提示检查邮件
        &._notification {
            line-height: 145px;
            top: 0;
            color: #fff;
            font-size: 20px;
            .highlighted {
                color: #ffeb3b;
            }
        }
    }

    &.show-partial {
        bottom: -109px;
    }

    &.show-full {
        ._title {
            opacity: 0;
        }
        ._content {
            opacity: 1;
        }
        bottom: 0;
        opacity: 1;
        cursor: default;
    }

    // 隐藏 登录、注册、提示检查邮件 三种状态类下的所有内容，只在指定情况下显示
    ._register,
    ._login,
    ._notification {
        display: none;
        &.show {
            display: block;
        }
    }

}